.vid {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.navbar-color {
  background-color:     rgba(14, 77, 77, 0.753);
}

.navbar-color a {
  color: #231f20;
}